@model StreamTools.Models.Social

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    @*<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">*@
    <style>
        html {
            background-color: transparent;
        }

        .vehicle-wrapper {
        }

        .vehicle {
            overflow: hidden;
        }
    </style>
</head>
<body>
    <div class="vehicle-wrapper">
        <div class="vehicle">
            <image src="/images/vespa-top.png"></image>
        </div>
    </div>
</body>
</html>
